body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
#topbar {
    display: none;
    padding: 10px;
    background-color: #f0f0f0;
}
#hamburger {
    font-size: 30px;
    cursor: pointer;
}
#sidebar {
    width: 300px;
    height: 100vh;
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    position: fixed;
    left: 0;
    top: 0;
    transition: 0.3s;
}
#sidebar button.active {
    background-color: #89B140;
}
#content {
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
    height: 100vh;
    overflow-y: auto;
    margin-left: 300px;
}
.visualization {
    display: none;
    margin-bottom: 30px;
}
.active {
    display: block;
}
button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #006463;
    color: white;
    border: none;
    cursor: pointer;
    text-align: left;
}
button:hover {
    background-color: #004a4a;
}
.chart-container {
    position: relative;
    height: 60vh;
    width: 100%;
}
.source-note {
    font-size: 0.8em;
    font-style: italic;
    color: #666;
}
a {
    color: #006463;
    text-decoration: none;
  }
a:hover {
    color: #004a4a;
}

@media (max-width: 768px) {
    #topbar {
        display: block;
    }
    #sidebar {
        width: 0;
        padding: 0;
    }
    #content {
        margin-left: 0;
    }
    .sidebar-open #sidebar {
        width: 250px;
        padding: 20px;
    }
    .sidebar-open #content {
        margin-left: 250px;
    }
}
